body {
    background-image: url("./image/jml-1.png");
    background-size: cover;
}
.icon {
    background-image: url("./image/spritesheet.png");
    display: inline-block;
    width: 25px;
    height: 28px;
    transition: all 0.2s; /*:))*/
}
.up {
    font-size: 26px;
    padding-bottom: 10px;
}
.in {
    color: #3ca76e;
    font-size: 20px;
}
.logo {
    text-transform: uppercase;
    margin: 5px 0 0 85px;
    font-size: 18px;
}
.logo:hover a {
    color: #3ca76e;
    transition: color 0.2s;
}
.welcom span {
    color: #3ca76e;
}
.welcom {
    font-size: 18px;
}
.icon-kalendao {
    background-position: 30px 0;
}
.icon-kalendao:hover {
    background-position: 118px 3px;
}

.icon-nav {
    background-position: 60px 0;
}
.icon-nav:hover {
    background-position: 148px 3px;
}
.icon-comments {
    background-position: 90px 0;
}
.icon-comments:hover {
    background-position: 178px 3px;
}
.form-group input:focus {
    box-shadow: 0 3px 5px #aaaaaa;
    outline: none;
    border: 1px solid #c1b5b587;
}
.form-group input {
    border: 1px solid #c1b5b587;
}

header {
    display: flex;
    justify-content: space-between;
    background: rgba(0, 0, 0, .5);
    padding: 10px 15px;
}
ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}
.welcom {
    display: inline-block;
}
a {
    text-decoration: none;
    color: #fff;
}

li:last-child a {
    border-left: 1px solid black;
}
li:last-child {
    align-self: center;
}
li {
    margin: 0 10px;
}
.container {
    margin: 65px auto;
    background: white;
    border-radius: 10px;
    width: 450px;
    height: 590px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    position: relative;
    padding: 25px 60px;
    box-sizing: border-box;
}
.green-cube {
    width: 20px;
    height: 16px;
    background-color: green;
    position: absolute;
    top: 30px;
    left: 0;
}
.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.face {
    display: inline-block;
    width: 160px;
    height: 50px;
    background-color: #305db8;
    border-radius: 5px;
}
.face:hover {
    background-color: #264b96;
    transition: all 0.2s;
}
.google {
    display: inline-block;
    width: 160px;
    height: 50px;
    background-color: #df4a32;
    border-radius: 5px;
    vertical-align: top;
}
.google:hover {
    background-color: #c3412c;
    transition: all 0.2s;
}

.btn-or {
    display: flex;
    justify-content: space-between;
}
.or {
    text-align: center;
    overflow: hidden;
    position: relative;
    padding: 10px 0;
}

.or .text {
    padding: 10px;
    background: #ffffff;
    position: relative;
    z-index: 2;
    font-size: 20px;
}
.or .line {
    width: 100%;
    height: 1px;
    background: #000;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1;
}
.face i, .google i {
    font-size: 28px;
    padding: 0 15px;
    border-right: 1px solid #383838;
    margin: 10px 0;
}
.face, .google {
    width: 49%;
}
.btn-text {
    padding-left: 10px;
    font-size: 20px;
    vertical-align: text-bottom;
}

.main_-form input {
    width: 100%;
    margin: 10px 0;
    padding: 10px 10px;
    box-sizing: border-box;
}
#check {
    width: auto;
    display: inline-block;
}
.btnlast {
    width: 100%;
    padding: 20px;
    background-color: #3cb878;
    color: #ffff;
    border-radius: 5px;
    margin-top: 30px;
}
.btnlast:hover {
    background-color: #329a65;
    transition: all 0.2s;
}
.terms {
    color: #3ca76e;
    text-decoration: underline;
}